<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    <!-- Mobile menu toggle button -->
    <button
      class="navbar-toggler d-md-none"
      type="button"
      (click)="toggleMobileMenu()"
      [attr.aria-expanded]="isMobileMenuOpen"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">
        <i class="ion-navicon-round" [class.rotate]="isMobileMenuOpen"></i>
      </span>
    </button>

    <!-- Navigation menu -->
    <div class="navbar-collapse" [class.show]="isMobileMenuOpen" id="navbarNav">
      <!-- Show this for logged out users -->
      <ul *ifAuthenticated="false" class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a
            class="nav-link interactive-link"
            routerLink="/"
            (click)="closeMobileMenu()"
          >
            Home
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link interactive-link"
            routerLink="/login"
            routerLinkActive="active"
            (click)="closeMobileMenu()"
          >
            Sign in
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link interactive-link"
            routerLink="/register"
            routerLinkActive="active"
            (click)="closeMobileMenu()"
          >
            Sign up
          </a>
        </li>
      </ul>

      <!-- Show this for logged in users -->
      <ul *ifAuthenticated="true" class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a
            class="nav-link interactive-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMobileMenu()"
          >
            Home
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link interactive-link"
            routerLink="/editor"
            routerLinkActive="active"
            (click)="closeMobileMenu()"
          >
            <i class="ion-compose"></i>&nbsp;New Article
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link interactive-link"
            routerLink="/settings"
            routerLinkActive="active"
            (click)="closeMobileMenu()"
          >
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>

        @if (currentUser$ | async; as currentUser) {
          <li class="nav-item">
            <a
              class="nav-link interactive-link"
              [routerLink]="['/profile', currentUser.username]"
              routerLinkActive="active"
              (click)="closeMobileMenu()"
            >
              @if (currentUser.image) {
                <img [src]="currentUser.image" class="user-pic" />
              }
              {{ currentUser.username }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
